<template>
  <div class="murren-stats">
    <div class="murren-stats__points">
      <div class="murren-stats__points-btn_container">
        <i class="el-icon-refresh-right murr-icon fsx2" @click="resetStats"></i>
        <i
          v-if="!this.stats.available_points && this.showEditingBar"
          class="el-icon-check murr-icon fsx2"
          @click="saveStats"
        ></i>
      </div>

      <div v-if="this.showEditingBar" class="mb">
        <div class="murren-stats__points-value">
          Интеллект
          <el-input-number
            class="ml"
            v-model="stats.intelligence"
            :min="5"
            :max="this.stats.intelligence + this.stats.available_points"
            @change="handleChange"
          />
        </div>
        <div class="murren-stats__points-value">
          Сила
          <el-input-number
            class="ml"
            v-model="stats.strength"
            :min="5"
            :max="this.stats.strength + this.stats.available_points"
            @change="handleChange"
          />
        </div>
        <div class="murren-stats__points-value">
          Ловкость
          <el-input-number
            class="ml"
            v-model="stats.dexterity"
            :min="5"
            :max="this.stats.dexterity + this.stats.available_points"
            @change="handleChange"
          />
        </div>
        <div class="murren-stats__points-value mb2">
          Выносливость
          <el-input-number
            class="ml"
            v-model="stats.vitality"
            :min="5"
            :max="this.stats.vitality + this.stats.available_points"
            @change="handleChange"
          />
        </div>
      </div>
      <div v-else>
        <div class="murren-stats__points-value">
          Интеллект <span class="ml">{{ this.stats.intelligence }}</span>
        </div>
        <div class="murren-stats__points-value">
          Сила <span>{{ this.stats.strength }}</span>
        </div>
        <div class="murren-stats__points-value">
          Ловкость <span>{{ this.stats.dexterity }}</span>
        </div>
        <div class="murren-stats__points-value mb2">
          Выносливость <span>{{ this.stats.vitality }}</span>
        </div>
      </div>

      <div v-if="this.stats.available_points" class="murren-stats__points-head">
        Доступно {{ this.stats.available_points }} очков
      </div>
    </div>

    <div class="murren-stats__results">
      <!-- Stats vitality list -->
      <div class="murren-stats__results-head">
        <div
          v-for="vitality in statsVitalityList"
          :key="vitality.key"
          class="murren-stats__results-head-item"
          :class="[vitality.key]"
        >
          {{ vitality.key.toUpperCase() }}
          <span :ref="`statInfo${vitality.key}`">{{ vitality.value }}</span>
        </div>
      </div>

      <!-- Stats power list -->
      <div class="murren-stats__results-body">
        <div
          v-for="stat of statsInfoList"
          :key="stat.key"
          class="murren-stats__results-body_item"
        >
          {{ stat.label }}
          <span
            class="murren-stats__results-body_value"
            :ref="`statInfo${stat.key}`"
          >
            {{ stat.value }}{{ stat.prefix }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "./scss/murren-stats.scss";
import axios from "axios";
import murren_player_variables from "../../../murr_game/engine/murren_player_variables.json";
import { MURREN_PROFILE_NOTIFY } from "@/components/murren/store/type";

export default {
  name: "MurrenStats",

  data() {
    return {
      showEditingBar: false,
      stats: {},
      baseStats: {},
      mvp: murren_player_variables,
    };
  },

  async mounted() {
    const { data } = await axios.get(
      `/api/murr_game/${this.$store.getters.currentMurren.username}/`
    );
    this.stats = data;

    this.baseStats = await Object.assign({}, this.stats);

    if (this.stats.available_points) {
      this.showEditingBar = true;
    }
  },

  watch: {
    statsInfoList(newStats, oldStats) {
      this.visualChangeState(newStats, oldStats);
    },

    statsVitalityList(newStats, oldStats) {
      this.visualChangeState(newStats, oldStats);
    },
  },

  computed: {
    statsInfoList() {
      return [
        {
          key: "maxDamage",
          label: "Урон",
          value: `${this.minDamage}-${this.maxDamage}`,
          prefix: "",
        },
        {
          key: "speed",
          label: "Инициатива",
          value: this.speed,
          prefix: "",
        },
        {
          key: "armor",
          label: "Броня",
          value: this.armor,
          prefix: "",
        },
        {
          key: "evasion",
          label: "Уклонение",
          value: this.evasion,
          prefix: "%",
        },
        {
          key: "criticalChance",
          label: "Крит. шанс",
          value: this.criticalChance,
          prefix: "%",
        },
        {
          key: "criticalDamage",
          label: "Крит. урон",
          value: this.criticalDamage,
          prefix: "%",
        },
      ];
    },

    statsVitalityList() {
      return [
        {
          key: "hp",
          label: "",
          value: `${this.hp}/${this.hp}`,
          prefix: "",
        },
      ];
    },

    speed() {
      return this.stats.intelligence;
    },
    minDamage() {
      return Math.round(
        this.maxDamage -
          (this.maxDamage / 100) * this.mvp.MAX_PHYSICAL_DAMAGE_MULTIPLY
      );
    },
    maxDamage() {
      return Math.round(
        this.mvp.MIN_PHYSICAL_DAMAGE +
          this.stats.strength / this.mvp.PHYSICAL_DAMAGE_MULTIPLY
      );
    },
    criticalDamage() {
      return (
        this.mvp.CRITICAL_DAMAGE +
        Math.ceil(this.stats.strength / this.mvp.CRITICAL_DAMAGE_MULTIPLY) * 10
      );
    },
    criticalChance() {
      return (
        this.mvp.CRITICAL_CHANCE +
        Math.ceil(this.stats.dexterity / this.mvp.CRITICAL_CHANCE_MULTIPLY)
      );
    },
    evasion() {
      const x =
        this.mvp.BASE_EVASION +
        Math.ceil(this.stats.dexterity / this.mvp.EVASION_MULTIPLY) *
          this.mvp.EVASION_INCREASE;
      return x <= 95 ? x : 95;
    },
    hp() {
      return (
        this.mvp.BASE_HP + this.stats.vitality * this.mvp.VITALITY_HP_MULTIPLY
      );
    },
    armor() {
      return (
        this.mvp.ARMOR +
        Math.ceil(
          (this.stats.vitality / this.mvp.ARMOR_MULTIPLY) *
            this.mvp.ARMOR_INCREASE
        )
      );
    },
  },
  methods: {
    visualChangeState(newStats, oldStats) {
      const diffStats = newStats.filter((newStat) => {
        const oldStat = oldStats.find((os) => os.key === newStat.key);
        return newStat.value !== oldStat.value;
      });

      for (let stat of diffStats) {
        let $element = this.$refs[`statInfo${stat.key}`][0];
        $element.classList.remove("change");

        $element.classList.add("change");
        setTimeout(() => {
          $element.classList.remove("change");
        }, 750);
      }
    },

    handleChange(currentValue, oldValue) {
      this.stats.available_points += oldValue - currentValue;
    },
    async resetStats() {
      const { data } = await axios.post(
        `/api/murr_game/${this.$store.getters.currentMurren.username}/reset_stats/`
      );
      this.stats = data;
      this.showEditingBar = true;
      this.$store.commit(MURREN_PROFILE_NOTIFY, {
        showNotify: data.available_points,
      });
    },
    async saveStats() {
      await axios.patch(
        `/api/murr_game/${this.$store.getters.currentMurren.username}/`,
        this.stats
      );
      this.showEditingBar = false;
      this.$store.commit(MURREN_PROFILE_NOTIFY, { showNotify: false });
    },
  },
};
</script>
