<template>
  <div>
    <div class="m-card-preview__crop">
      <vue-cropper
        v-if="coverUrl"
        ref="cropper"
        :view-mode="1"
        :src="coverUrl"
        :movable="false"
        :rotatable="false"
        :scalable="false"
        :zoomable="false"
        :background="false"
        :responsive="false"
        :data="coverCropDetail"
        @crop="({ detail }) => (localCoverCropDetail = detail)"
        :key="coverUrl"
        class="m-card-preview__crop-container"
        preview=".js-croper-preview"
      />
    </div>
    <div class="m-card-preview__crop-actions">
      <el-button type="danger" @click="onCancelCrop"> Отменить </el-button>
      <el-button type="success" @click="onSuccessCrop"> Готово </el-button>
    </div>
  </div>
</template>

<script>
import VueCropper from "vue-cropperjs";
import "cropperjs/dist/cropper.css";

export default {
  name: "MurrCardCrop",

  components: {
    VueCropper,
  },

  props: {
    coverUrl: String,
    coverCropDetail: Object,
  },

  data: () => ({
    localCoverCropDetail: {},
  }),

  methods: {
    onSuccessCrop() {
      this.$emit("crop-success", this.localCoverCropDetail);
    },

    onCancelCrop() {
      this.$refs.cropper.cropper.setData(this.coverCropDetail);

      this.$emit("crop-cancel");
    },
  },
};
</script>
