<template>
  <div class="m-card-options">
    <div class="m-card-options__tags">
      <div class="m-card-options__tags-content">
        <el-tag
          :key="tag"
          v-for="tag in tagsValue"
          closable
          :disable-transitions="false"
          @close="handleClose(tag)"
          effect="dark"
          type="info"
          size="small"
          class="m-card-options__tags-item"
        >
          {{ tag }}
        </el-tag>

        <el-input
          v-if="tagsValue.length < 5"
          class="m-card-options__tags-input"
          v-model="inputValue"
          ref="saveTagInput"
          size="small"
          @keyup.enter.native="handleInputConfirm"
          @blur="handleInputConfirm"
          :placeholder="tagsValue.length === 0 ? `Добавить до 5 тегов` : '...'"
        />
        <div v-if="validTagMaxLength" class="m-card-options__tags-error">
          Тег максимум {{ $v.inputValue.$params.maxLength.max }} символов
        </div>

        <div v-if="validTagisUnique" class="m-card-options__tags-error">
          Тег <em>{{ inputValue }}</em> уже есть в спискe.
        </div>
      </div>
    </div>

    <div class="m-card-options__category">
      <el-select
        v-model="categoryValue"
        placeholder="К какой категории относится мурр"
        class="m-card-options__category-select"
      >
        <el-option
          v-for="item in categories"
          :key="item.slug"
          :label="item.name"
          :value="item.slug"
          class="m-card-options__category-item"
        />
      </el-select>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { maxLength } from "vuelidate/lib/validators";

import { MURR_CARD_FETCH_CATEGORIES } from "../store/type.js";

export default {
  name: "MurrCardOptions",

  props: {
    murrDataLocalStorage: Object,
  },

  data: () => ({
    categoryValue: "",

    tagsValue: [],
    inputVisible: false,
    inputValue: "",
  }),

  computed: {
    categories() {
      return this.$store.state.murrCard.murrCategories;
    },

    validTagMaxLength() {
      return this.$v.inputValue.$dirty && !this.$v.inputValue.maxLength;
    },

    validTagisUnique() {
      return this.$v.inputValue.$dirty && !this.$v.inputValue.isUnique;
    },

    validTagsMax() {
      return this.tagsValue.length >= 5;
    },
  },

  validations: {
    inputValue: {
      maxLength: maxLength(24),
      isUnique(value) {
        return !this.tagsValue.find(
          (v) => v.trim() === value.toLowerCase().trim()
        );
      },
    },
  },

  methods: {
    handleClose(tag) {
      this.tagsValue.splice(this.tagsValue.indexOf(tag), 1);
    },

    showInput() {
      if (this.validTagsMax) {
        return;
      }

      this.inputVisible = true;
      this.$nextTick(() => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    handleInputConfirm() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const inputValue = this.inputValue.toLowerCase().trim();

      if (!inputValue.length) {
        return;
      }

      if (inputValue) {
        this.tagsValue.push(inputValue);
      }

      this.inputVisible = false;
      this.inputValue = "";
    },

    handlerBroadcastEvent() {
      this.$emit("change", {
        category: this.categoryValue,
        tags: this.tagsValue,
      });
    },

    ...mapActions({
      fetchCategories: MURR_CARD_FETCH_CATEGORIES,
    }),
  },

  watch: {
    categoryValue() {
      this.handlerBroadcastEvent();
    },

    tagsValue() {
      this.handlerBroadcastEvent();
    },
  },

  async mounted() {
    await this.fetchCategories();

    this.tagsValue = this.murrDataLocalStorage.tags;
    this.categoryValue = this.murrDataLocalStorage.category;
  },
};
</script>
