<template>
  <div></div>
</template>

<script>
import * as type from "./store/type.js";

export default {
  name: "read-murr-card",
  props: {
    murrId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      observer: null,
    };
  },
  mounted() {
    this.observer = new IntersectionObserver(([entry]) => {
      if (entry && entry.isIntersecting) {
        setTimeout(() => {
          this.$store.dispatch(type.READ_MURR_CARD, this.murrId);
          this.$store.commit(type.REMOVE_MURR_CARD_NOTIFY, this.murrId);
        }, 2000);
      }
    });

    this.observer.observe(this.$el);
  },
  destroyed() {
    this.observer.disconnect();
  },
};
</script>
