@import "variables";

@mixin plank {
    background-color: $dark-hover;
    width: 100%;
    border-radius: 3px;
    border: $main 1px solid;
}

@mixin button-icon {
    &:hover {
      color: $accent-color-primary-hover;
      background-color: rgba($white, 0.1);
    }

    &:active {
      color: $accent-color-primary-hover;
      background-color: rgba($white, 0.2);
    }
  }

@mixin number {
  font-family: "JetBrainsMono-Regular", monospace;
}

@mixin border {
    border-radius: 3px;
    border: $main 1px solid;
}
