<template>
  <li class="message-item">
    <router-link
      class="message-item__user-link"
      :to="{
        name: 'murren',
        params: { murren_name: this.message.murren_name },
      }"
    >
      <img
        class="message-item__user-avatar"
        :src="message.murren_avatar"
        alt="user avatar"
      />
    </router-link>
    <div class="message-item__top">
      <router-link
        class="message-item__user-link"
        :to="{
          name: 'murren',
          params: { murren_name: this.message.murren_name },
        }"
      >
        <span :style="nameColor" v-text="message.murren_name"></span>
      </router-link>
      <span @click="addMurrenNameToAnswer" class="message-item__top-reply"
        >Reply</span
      >
    </div>
    <div class="message-item__content" v-html="message.message"></div>
  </li>
</template>

<script>
import "./scss/style.scss";

export default {
  name: "murr-chat-message",
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  methods: {
    addMurrenNameToAnswer() {
      this.$emit("addMurrenNameToAnswer", this.message.murren_name);
    },
  },
  computed: {
    nameColor() {
      return `color: ${
        this.$store.getters.murrensOnline.find(
          (murren) => murren.name === this.message.murren_name
        )?.color
      }`;
    },
  },
};
</script>
