<template>
  <div
    class="social-login__oauth-item social-login__oauth-item_vk"
    @click="redirectOauth"
  />
</template>

<script>
import { VK_CLIENT_ID, VK_REDIRECT_URI } from "../../../devAndProdVariables";

export default {
  name: "VkOauth",

  data: () => ({
    vk_url: "https://oauth.vk.com/authorize?",
    params: {
      response_type: "code",
      client_id: VK_CLIENT_ID,
      redirect_uri: VK_REDIRECT_URI,
    },
  }),

  methods: {
    redirectOauth() {
      window.open(`${this.vk_url}${this.getUrlParams(this.params)}`, "_self");
    },

    getUrlParams(params) {
      return Object.keys(params)
        .map((key) => `${key}=${params[key]}`)
        .join("&");
    },
  },
};
</script>
