<template>
  <div class="turn_murren">
    <div class="turn_murren-panel" :class="{ 'is-wait': isNotMyTurn }">
      <div class="turn_murren_div">
        <img class="turn_murren-avatar" :src="player.murren_avatar" alt="" />

        <div class="turn_murren-name">
          {{ player.murren_name }}
        </div>
      </div>

      <div class="turn_murren-skills">
        <div class="turn_murren-skills-topline turn-topline">
          <div
            class="turn-topline__item"
            v-for="point in $options.TOTAL_TURN_POINT"
            :key="point"
          >
            <div
              class="turn-topline__point"
              :class="{
                'is-access': allowedPoints(point),
                'is-locked': lockedPoints(point),
              }"
            />
          </div>
        </div>
        <div class="turn_murren-skills-content">
          <div
            v-for="(skill, index) in player.skills"
            :key="skill.id"
            @click="handleSelectSkill(skill)"
            class="turn_murren-skills-item"
            :class="{
              'is-wait': player.turn_points < skill.cost,
              'is-reloaded': isFreezedSkill(skill),
              'is-selected': isMyTurn && isChosedSkill(skill),
            }"
            @mouseenter="handleUsesPointSkill('enter', skill)"
            @mouseleave="handleUsesPointSkill('leave', skill)"
          >
            <span class="turn_murren-skills-item-number">{{ index + 1 }}</span>
            <img
              class="turn_murren-skills-item-icon"
              :src="skill.icon"
              alt="skill"
            />
            <span class="turn_murren-skills-item-name">{{ skill.name }}</span>
            <div
              class="turn_murren-skills-item-is-reloading turn-skill-reloading"
              v-if="isFreezedSkill(skill)"
            >
              <span class="turn-skill-reloading__number">
                {{ skill.now_reloading }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="turn_murren-description-seleted-slill" v-if="skillHovered">
      {{ skillHovered.description }} <br />
      {{ skillHovered.logic }} <br />
      Стоимость - {{ skillHovered.cost }}
    </div>
  </div>
</template>

<script>
export default {
  name: "BlockSkills",

  SKILL_KEYS: [1, 2, 3, 4, 5],
  TOTAL_TURN_POINT: 5,

  props: {
    player: {
      type: Object,
      required: true,
    },
    chosenSkill: {
      // TODO: added validate
      required: true,
    },
    murrenTurn: {
      type: Boolean,
      required: true,
    },
  },

  mounted() {
    window.addEventListener("keydown", this.handleSelectedSkillFromKeyboard);
  },
  beforeDestroy() {
    window.removeEventListener("keydown", this.handleSelectedSkillFromKeyboard);
  },

  data() {
    return {
      selectedSkill: null,
      usesTurnPoint: 0,
      skillHovered: false,
    };
  },

  computed: {
    turnPointUsed() {
      return this.player.turn_points - this.usesTurnPoint;
    },
    isMyTurn() {
      return this.murrenTurn;
    },
    isNotMyTurn() {
      return !this.isMyTurn;
    },
  },

  methods: {
    handleSelectSkill(skill) {
      if (skill.now_reloading && skill.now_reloading > 0) {
        return;
      }

      this.skillHovered = skill;
      this.selectedSkill = skill;
    },
    handleSelectedSkillFromKeyboard({ key }) {
      if (!this.$options.SKILL_KEYS.includes(parseInt(key))) {
        return;
      }

      this.handleSelectSkill(this.player.skills[key - 1]);
    },
    handleUsesPointSkill(type, skill) {
      if ("enter" === type) {
        this.usesTurnPoint = skill.cost;
        this.skillHovered = skill;
      }

      if ("leave" === type) {
        if (this.selectedSkill) {
          this.usesTurnPoint = this.selectedSkill.cost;
          this.skillHovered = this.selectedSkill;
        } else {
          this.skillHovered = false;
          this.usesTurnPoint = 0;
        }
      }
    },
    allowedPoints(point) {
      return point <= this.player.turn_points;
    },
    lockedPoints(point) {
      return this.allowedPoints(point) && point > this.turnPointUsed;
    },
    isFreezedSkill(skill) {
      return skill.now_reloading && skill.now_reloading > 0;
    },
    isChosedSkill(skill) {
      return skill.name === this.chosenSkill.name;
    },
  },

  watch: {
    selectedSkill(value) {
      this.$emit("chosen-skill", value);
    },

    murrenTurn(value) {
      if (!value) {
        this.selectedSkill = false;
        this.usesTurnPoint = 0;
      }
    },

    chosenSkill(value) {
      if (!value) {
        this.selectedSkill = false;
        this.usesTurnPoint = 0;
        this.skillHovered = false;
      }
    },
  },
};
</script>
