<template>
  <div
    class="speed"
    :class="{ 'speed-turn-ended': counter < 5 && counter > 0 }"
  >
    <h3 class="speed-title">Ход</h3>

    <transition-group class="speed-list" name="speed-list" tag="ul">
      <li
        v-for="(murren, index) in list"
        :key="murren.murren_name"
        class="speed-list__item"
        :style="{
          'z-index': list.length - index,
          'margin-left':
            index === 0 ? 0 : `calc(-4% - ${list.length * index}px)`,
        }"
      >
        <div
          class="speed-list__container"
          :style="{
            transform: `scale(${1 - `0.${index}`})`,
          }"
        >
          <div
            :style="{
              'background-image': `url(${murren.murren_avatar})`,
            }"
            class="speed-list__item-avatar"
          />
          <div class="speed-list__item-turn">{{ murren.initiative }}</div>
        </div>
      </li>
    </transition-group>
  </div>
</template>

<script>
export default {
  name: "Speed",

  props: {
    list: {
      type: Array,
      required: true,
    },
    counter: {
      type: Number,
      required: true,
    },
  },
};
</script>
