<template>
  <div class="m-comments-header__header">
    <h3 class="m-comments-header__counters">
      Комментарии <span>{{ commentCount }}</span>
    </h3>

    <div class="m-comments-header__sorted">
      <el-dropdown
        trigger="click"
        placement="left"
        size="medium"
        @command="onSelectSortType"
      >
        <el-button
          size="medium"
          type="text"
          icon="el-icon-caret-bottom"
          class="m-comments-header__sorted-button"
        >
          {{ selectSorted.label }}
        </el-button>

        <el-dropdown-menu
          slot="dropdown"
          class="m-comments-header__sorted-items"
        >
          <el-dropdown-item
            v-for="sorted in sortedList"
            :key="sorted.command"
            :class="{ 'is-active': sorted.isActive }"
            :command="sorted.command"
            class="m-comments-header__sorted-item"
          >
            {{ sorted.label }}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
export default {
  name: "CommentsHeader",

  props: {
    commentCount: {
      type: Number,
      required: false,
      default: 0,
    },

    sortType: {
      type: String,
      default: "popularity",
    },
  },

  created() {
    this.setActiveSortType(this.sortType);
  },

  data() {
    return {
      sortedList: [
        { label: "По популярности", command: "popularity", isActive: false },
      ],
    };
  },

  computed: {
    selectSorted() {
      return this.sortedList.find((s) => s.isActive);
    },
  },

  methods: {
    setActiveSortType(command) {
      this.sortedList = this.sortedList.map((item) => {
        let isActive = false;

        if (command === item.command) {
          isActive = true;
        }

        return { ...item, isActive };
      });
    },

    onSelectSortType(command) {
      this.setActiveSortType(command);

      this.$emit("sort-select", command);
    },
  },
};
</script>
