<template>
  <div class="m-comments-form-guest">
    <div class="m-comments-form-guest__info">Войди и можно общаться!</div>

    <div class="m-comments-form-guest__action">
      <small class="link" @click.prevent="goSignIn">Войти</small> /
      <small class="link" @click.prevent="goSignUp">Регистрация</small>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "CommentFormGuest",

  methods: {
    ...mapActions({
      goSignUp: "changeShowSignUpForm_actions",
      goSignIn: "changeShowLoginForm_actions",
    }),
  },
};
</script>
