<template>
  <el-dropdown
    trigger="click"
    placement="right"
    size="mini"
    class="m-comments__actions-item m-comments__dropdown"
    @command="handleChangeAction"
  >
    <el-button
      size="mini"
      type="text"
      icon="el-icon-more"
      class="m-comments__dropdown-button"
    />

    <el-dropdown-menu slot="dropdown" class="m-comments__dropdown-items">
      <el-dropdown-item
        :command="DELETE"
        icon="el-icon-delete-solid"
        class="m-comments__dropdown-item delete"
      >
        Удалить
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
export default {
  name: "CommentMenu",

  data() {
    return {
      DELETE: "delete",
    };
  },

  methods: {
    handleChangeAction(command) {
      if (command === this.DELETE) {
        this.$confirm("Удали меня полностью", "Я прошу тебя!", {
          confirmButtonText: "Да",
          confirmButtonClass: "murr-button__danger bigBtn",
          cancelButtonText: "Отмена",
          cancelButtonClass: "murr-button__primary bigBtn",
          customClass: "modal-main",
          type: "warning",
        }).then(() => {
          this.$emit("delete-comment");
        });
      }
    },
  },
};
</script>
