<template>
  <div class="m-comments-form">
    <form
      @submit.prevent="$refs.recaptcha.execute"
      class="m-comments-form__container"
    >
      <div class="m-comments-form__avatar">
        <img :src="murren.avatar" :alt="murren.username" />
      </div>

      <div class="m-comments-form__textarea">
        <resizable-textarea>
          <textarea
            :class="{ warning: isWarningMaxLength }"
            :maxlength="maxLengthComment"
            v-model="text"
            @keyup.ctrl.enter="$refs.recaptcha.execute"
            ref="textarea"
            placeholder="Оставь комментарий..."
            class="m-comments-form__textarea-input"
          />
        </resizable-textarea>

        <el-button
          class="m-comments-form__textarea-button smile"
          type="text"
          @click="onToggleEmojiPopover"
        >
          <font-awesome-icon :icon="['far', 'smile']" />
        </el-button>

        <el-button
          class="m-comments-form__textarea-button submit"
          icon="el-icon-s-promotion"
          native-type="submit"
          type="text"
          :loading="isLoading"
          :disabled="readySend"
          :class="{ warning: isWarningMaxLength, 'is-ready': !readySend }"
        />
      </div>

      <transition name="el-fade-in">
        <v-emoji-picker
          v-if="isShowEmojiPopover"
          v-click-outside="onCloseEmojiPopover"
          ref="emojiPicker"
          :dark="true"
          @select="onSelectEmoji"
          class="m-comments-form__emoji-container"
        />
      </transition>

      <recaptcha ref="recaptcha" @verify="onSubmitComment" />
    </form>
  </div>
</template>

<script>
import ResizableTextarea from "../../common/ResizableTextarea.js";
import Recaptcha from "../../common/Recaptcha.vue";
import VEmojiPicker from "v-emoji-picker";

export default {
  name: "CommentFormUser",

  components: {
    ResizableTextarea,
    Recaptcha,
    VEmojiPicker,
  },

  props: {
    focusAfterShow: {
      type: Boolean,
      default: false,
    },

    murren: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      text: "",
      isLoading: false,
      maxLengthComment: 1500,

      isShowEmojiPopover: false,
    };
  },

  mounted() {
    if (this.focusAfterShow) {
      this.$refs.textarea.focus();
    }
  },

  methods: {
    onSubmitComment(recaptchaToken) {
      if (this.text.length === 0 || this.text.length > this.maxLengthComment)
        return;

      this.isLoading = true;

      this.$emit("create-comment", {
        text: this.text,
        recaptchaToken,
      });
    },

    onOpenEmojiPopover() {
      this.isShowEmojiPopover = true;

      const modal = document.getElementById("modalWindow");
      const checkEmojiIsRendered = () => {
        if (this.$refs.emojiPicker) {
          const EmojiPickerClientRect =
            this.$refs.emojiPicker.$el.getClientRects()[0];
          const y =
            EmojiPickerClientRect.top +
            EmojiPickerClientRect.height -
            document.documentElement.clientHeight +
            20;
          modal.scrollBy(0, y);
        } else {
          this.$nextTick(checkEmojiIsRendered);
        }
      };

      this.$nextTick(checkEmojiIsRendered);
    },

    onCloseEmojiPopover() {
      this.isShowEmojiPopover = false;
    },

    onToggleEmojiPopover() {
      if (this.isShowEmojiPopover) {
        this.onCloseEmojiPopover();
        return;
      }

      this.onOpenEmojiPopover();
    },

    onSelectEmoji(emoji) {
      this.execInsertText(emoji.data);
      this.onCloseEmojiPopover();
    },

    execInsertText(insertText) {
      if (!insertText.length) return;

      const textarea = this.$refs.textarea;
      const sentence = textarea.value;
      const len = sentence.length;
      let pos = textarea.selectionStart;
      if (pos === undefined) {
        pos = 0;
      }

      const before = sentence.substr(0, pos);
      const after = sentence.substr(pos, len);

      this.text = before + insertText + after;

      this.$nextTick().then(() => {
        textarea.focus();
        textarea.selectionStart = pos + insertText.length;
        textarea.selectionEnd = pos + insertText.length;
      });
    },

    resetFormState() {
      this.text = "";
      this.isLoading = false;
    },
  },

  computed: {
    readySend() {
      return !this.text.trim().length;
    },

    charactersLeft() {
      return this.maxLengthComment - this.text.length;
    },

    isWarningMaxLength() {
      return this.charactersLeft < 30;
    },
  },
};
</script>
