.m-card-create {
  margin-top: 2rem;

  &__action {
    font-size: 2.4rem;
    color: $main;
    padding: 0;

    position: fixed;
    top: 10px;

    &.upload {
      right: 20px;
      color: $success;

      &:hover,
      &:active,
      &:focus {
        color: $success-hover;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $main-hover;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:active,
    &.is-disabled:focus {
      color: darken($main, 25%);
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  &__form {
    flex: 0 1 650px;
  }

  &__preview {
    margin-bottom: 30px;
  }

  &__options {
    flex: 0 1 230px;
    margin: 0 0 0 3rem;
    height: 100%;

    position: sticky;
    top: 0;
  }

  &__crop {
    margin-bottom: 3rem;
  }

  @media (max-width: 860px) {
    &__row {
      display: block;
    }

    &__form {
      width: 100%;
    }

    &__options {
      position: static;
      width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
